<!-- Intro Section -->
	<div class="container sinfo">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 centered">
				<img src="assets/images/icons/shield.svg" alt="">
				<h3>I love what these guys did for our company. We became the brand that we always wanted. They worked so hard to achieve our goals, that they seemed part of our own company.</h3>
				
			</div>
		</div><!-- /row -->
	</div><!-- /container -->