<!-- Services Section -->
  <div class="container sinfo">
    <div class="row svgicons centered">

      <div class="col-lg-8 col-lg-offset-2">
        <h3>Installation de <b>Rails</b></h3>
        <br>
        <p>Quel système d’exploitation utilisez-vous ? </p>
        <br>
    <br>
    <br>
      </div>
      <div class="col-lg-10 col-lg-offset-1 centered">
      </div>
  
      <div class="col-xs-6 col-sm-4">
        <p><%= image_tag "apple.png" %></p>
        <h4><b>Mac OS X</b></h4>
        
       <p><a href="installations/quelle-est-la-version-de-os-x-sur-votre-mac" class="btn btn-default" role="button">Installer Rails sur Mac</a></p>
        <br><br>
      </div><!-- col-lg-3 -->
      
      <div class="col-xs-6 col-sm-4">
        <p><%= image_tag "windows.png" %></p>
        <h4><b>Windows</b></h4>
    
        <p><a href="installations/comment-installer-rails-sur-windows" class="btn btn-default" role="button">Installer Rails sur Windows</a></p>
        <br><br>
      </div><!-- col-lg-3 -->
      
      <div class="col-xs-6 col-sm-4">
        <p><%= image_tag "linux.png" %></p>
        <h4><b>Linux</b></h4>
    
         <p><a href="installations/comment-installer-rails-sur-linux" class="btn btn-default" role="button">Installer Rails sur Linux</a></p>
        <br><br>
      </div><!-- col-lg-3 -->

    
    </div><!-- /row -->
    <br>
    <hr>
  </div><!-- /container -->

