 <div class="col-lg-4">
        <h4>Une fois inscrit, vous aurez accès à :</h4>
        <br>
        <div class="cinfo">
          
        </div>
        <p>
          Des leçons en vidéo<br/>
        </p>
        <hr>
        <div class="cinfo">
        
        </div>
        <p>
         Des exercices<br/>
        </p>
        <hr>
        <div class="cinfo">
     
        </div>
        <p>
          Des samples de code<br/>
        </p>
        <hr>
        <p>
          Un accès illimité durant un an<br/>
        </p>
        <hr>
      </div>

