 <div class="col-lg-4">
        <h4>Our Information</h4>
        <br>
        <div class="cinfo">
          
        </div>
        <p>
          Monday to Friday / 7:00 - 18:00<br/>
          Saturday / 9:00 - 15:00
        </p>
        <hr>
        <div class="cinfo">
        
        </div>
        <p>
          Richardson Ave. 984<br/>
          London, UK.
        </p>
        <hr>
        <div class="cinfo">
     
        </div>
        <p>
          +44 9845-4343<br/>
          good@goodagency.com
        </p>
        <hr>
      </div><!-- col-lg-4 -->