<div class="container">
  <br>
  <br>
  <div class="row">
      <div class="blogcontent">

   <div class="panel panel-default">
    <% @cgvs.each do |cgv| %>
  <div class="panel-heading"><b><%= cgv.article %></b></div>
  <div class="panel-body">
      <%= raw cgv.body %>
  </div>
   <%end%>
</div>
</div>
</div>