<div class="container">


<br>

<div class="row">

  <div class="col-md-8">
  <div class="page-header">
  <h5>Reproduisez une Application Web type <b>Instagram</b> </h5>
  <p>étape par étape en 30 jours</p>
</div>


    <div class="panel">
  <% @chapitres.each do |chapitre| %>
  <div class="panel-heading">
    <b><%= chapitre.title %></b>
  </div>
  <div class="panel-body">
    <%= raw chapitre.text %>
  </div>
  <%end%>
</div></div>
  <div class="col-md-4">



<div class="thumbnail">
      <%= image_tag("ben.jpg", class: "img-rounded") %> 
      <div class="caption">
        <h5><b>LE FONDATEUR </b>BENJAMIN</h5>
        <div align="justify"> Première App est un programme qui va vous permettre de construire une application web en très peu de temps. C’est en apprenant à construire cette dernière que vous apprendrez à coder. À la fin de ce programme, vous serrez en mesure de mettre en place votre propre application avec ce que vous aurez appris et de continuer votre apprentissage en toute autonomie.

<br>
<br>
          <a href="https://twitter.com/benjammartin" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @benjammartin</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      
      </div>
    </div>






  </div>
  <p><b>CE QUE VOUS ALLEZ RECEVOIR</b></p>
  <ul class="list-group">
  <li class="list-group-item">Des heures de cours en vidéo étape par étape</li>
  <li class="list-group-item">Une ranscription écrite sous chaque étape</li>
  <li class="list-group-item">Des compétences en Web développement</li>
  <li class="list-group-item">Le code source de l'application</li>
</ul>
<p><b>POUR QUI ?</b></p>
  <ul class="list-group">
  <li class="list-group-item">Débutants et faux débutants</li>
  <li class="list-group-item">Entrepreneurs</li>
  <li class="list-group-item">Développeurs front end</li>
</ul>

<%= link_to "Commencer maintenant", new_user_registration_path(:product => 'rails'), class: "btn btn-primary btn-hg" %>
</div>



</div>