<!-- Intro Section -->
  <div class="container sinfo">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <%= image_tag('logo.png') %>
        <br>
        <br>
        <H4>Bravo, vous avez terminé l’installation de Rails sur votre machine. </H4>
        	<br>
				<br>
				<%= link_to "Commencer ma formation maintenant", new_user_registration_path(:product => 'rails'), class: "btn btn-embossed btn-primary btn-hg" %>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->