<div class="container">
    <div class="col-md-8">
       <br>
      <div class="blogcontent">
        <% for topic in @topics %>
        <strong> 
          <div class="panel panel-default">
            <div class="panel-heading"><%= topic.name %>
            </div>
          </strong>
          <ul class="list-group">
            <% for step in topic.step %>
            <li class="list-group-item">
              <%= link_to step.name, step %>
              <p>
                
              </p>
            </li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </div>
    </div>

   <br>
    <div class="col-md-4">
        <%= render 'disq', :locals => { title: @topic } %>
    </div>
</div>


