<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="page-header">
        <h6>Hello <small>
          <%= @current_user.name %></small>
        </h6>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <% @courses.each do |course| %>
  <h1><%= course.name %></h1>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
<%end%>
</div>
</div>


 

