<br>
<br>
<div class="container">
  <div class="row">
  <% @cgvs.each do |cgv| %>
<ul class="media-list">
  <li class="media">
    <div class="media-body">
      <b><h4 class="media-heading"><%= cgv.article %></h4></b>
      <%= raw cgv.body %>
    </div>
  <%end%>
    
  
  </li>
</ul>


