
<div class="container centered">
	<div class="contone">
<div class="row">

  <div class="col-md-4">
    <div class="titre">
        <img alt="Omh mark" src="/assets/ruby.png" />
        <h4 class="mp tile-title"><b>RUBY ON RAILS</b></h4>
        <p class="tile-description">Construisez votre première application Web avec Ruby on Rails</p>
      </div>
</div>
  <div class="col-md-4">
    <div class="titre">
        <img alt="Omh mark" src="/assets/test.png" />
        <h4 class="mp tile-title"><b>BOOTSTRAP</b></h4>
        <p class="tile-description"> Apprenez à structurer l’apparence de votre application Web avec Bootstrap. </p>
      </div>
  </div>
  <div class="col-md-4">

<div class="titre">
        <img alt="Omh mark" src="/assets/test.png" />
        <h4 class="mp tile-title"><b>HEROKU</b></h4>
        <p class="tile-description">Propulsez votre toute première application Web en ligne avec Heroku</p>
      </div>


  </div>
</div>
</div>
</div>