<div id="teacher">
	<div class="container">

		<div class="row">
	
	  
	              			<div class="col-md-8">
	              				<br>
	              				<br>
			              		<h2><b>Benjamin </b></h2>
			              		<h6>Fondateur | Teacher</h6>
			              		<br>
			                	<p>Combien d’entrepreneurs abandonnent leur projet faute d’avoir trouvé un développeur  ? Impossible de savoir exactement. Quoi qu’il en soit, il est difficile de donner vie à son projet quand on n’a aucune compétence technique. J’ai personnellement vite abandonné l’idée qu’un beau matin un développeur viendrait collaborer sur un de mes projets. J’ai donc appris à coder seul durant des semaines, mais avec l’ensemble des ressources disponibles sur le web, ce fût difficile ; ne serait-ce que pour savoir par où commencer. Première App est un programme qui va vous permettre de construire une application web en très peu de temps en se concentrant que sur l’essentiel. C’est en apprenant à construire cette dernière que vous apprendrez à coder. À la fin de ce programme, vous serrez en mesure de mettre en place votre propre application avec ce que vous aurez appris et de continuer votre apprentissage en toute autonomie.  
</p>
<%= link_to "Commencer maintenant", new_user_registration_path(:product => 'rails'), class: "btn  btn-primary btn-hg" %>
			                	<br>

	              				<br>

	              			</div>
	              			
	              		</div><!-- /row -->
	              	</div><!-- /tabmod-a -->
	              </div><!-- /tab-pane -->



	            </div> <!-- /tab-content -->
</div>
			</div><!-- col-lg-10 -->
		</div><!-- /row -->
	</div><!-- /container -->
	