
<div class="container centered">
	<div class="contone">
<div class="row">

  <div class="col-md-4">
    <div class="">
        <img src="/assets/test.png" />
        <h4 class=""><b>RUBY ON RAILS</b></h4>
        <p class="">Construisez votre première application Web avec Ruby on Rails</p>
      </div>
</div>
  <div class="col-md-4">
    <div class="">
        <img src="/assets/test.png" />
        <h4 class=""><b>BOOTSTRAP</b></h4>
        <p class=""> Apprenez à structurer l’apparence de votre application Web avec Bootstrap. </p>
      </div>
  </div>
  <div class="col-md-4">

<div class="">
        <img  src="/assets/test.png" />
        <h4 class=""><b>HEROKU</b></h4>
        <p class="">Propulsez votre toute première application Web en ligne avec Heroku</p>
      </div>


  </div>
</div>
</div>
</div>