<!-- Services Section -->
	<div class="container sinfo">
		<div class="row centered">
			<h4>Welcome, we are <b>GOOD</b>, a flat design, responsive & super flexible theme</h4>
			<br>
			<br>
			<div class="col-lg-3">
				<p><%= image_tag "icons/touch.svg" %></p>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
			
			</div><!-- col-lg-3 -->
			
			<div class="col-lg-3">
				<p><%= image_tag "icons/touch.svg" %></p>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
			
			</div><!-- col-lg-3 -->
			
			<div class="col-lg-3">
				<p><%= image_tag "icons/touch.svg" %></p>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
				
			</div><!-- col-lg-3 -->

			<div class="col-lg-3">
				<p><%= image_tag "icons/touch.svg" %></p>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
		
			</div><!-- col-lg-3 -->
		
		</div><!-- /row -->
		<br>
		<hr>
	</div><!-- /container -->

