
<div class="container centered">
	<div class="co2">
<div class="row">

  <div class="col-md-4">

    <p><b>AU PROGRAMME</b></p>
  <ul class="list-group">
  <li class="list-group-item">Des heures de cours en vidéo étape par étape</li>
  <li class="list-group-item">Une transcription écrite sous chaque étape</li>
  <li class="list-group-item">Des compétences en Web développement</li>
</ul>
</div>




  <div class="col-md-4">
    <p><b>POUR QUI ?</b></p>
  <ul class="list-group">
  <li class="list-group-item">Débutants et faux débutants</li>
  <li class="list-group-item">Entrepreneurs</li>
  <li class="list-group-item">Développeurs front end</li>
</ul>
</div>

  <div class="col-md-4">

<p><b>CE QUE VOUS ALLEZ APPRENDRE</b></p>
  <ul class="list-group">
  <li class="list-group-item">Ruby On Rails, Bootstrap </li>
  <li class="list-group-item">Heroku, Git, GitHub</li>
  <li class="list-group-item">Donner vie à vos idées</li>
</ul>


</div>
</div>
</div>
</div>
