<div id="cta">
		<div class="container centered">
			<h3>À propos de Première App</h3>
			<p>Première App est une série de leçons et de tutoriels pour les débutants et faux débutants qui souhaitent développer leur première application Web en partant de 0. Une fois enregistré, vous pourrez commencer directement votre première leçon.  </p>
			<br>
		</div><!-- /container -->
	</div><!-- /cta -->