<div id="cta">
		<div class="container centered">
			<h3><b>A PROPOS DE PREMIERE APP</b></h3>
			<br>
			<br>
			<p>PREMIÈRE APP EST UNE SÉRIE DE LEÇONS ET DE TUTORIELS POUR LES DÉBUTANTS ET FAUX DÉBUTANTS QUI SOUHAITENT DÉVELOPPER LEUR PREMIÈRE APPLICATION WEB SANS AUCUNE CONNAISSANCE EN PROGRAMMATION. UNE FOIS ENREGISTRÉ, VOUS POURREZ COMMENCER DIRECTEMENT VOTRE PREMIÈRE LEÇON.  </p>

			
			<br>
		</div><!-- /container -->
	</div><!-- /cta -->