
		<div class="container centered">
			<div class="row">
			
		 <div class="copy">
					<p><%= link_to "CGU", thecgu_path %> | <%= link_to "CGV", thecgv_path %>  | © Copyright 2014</p>
		
			
</div>
				
			</div><!-- /row -->
		</div><!-- /container -->

