<!-- FOOTER -->
	<div id="f">
		<div class="container">
			<div class="row">
			
				<br>
				
				<div class="col-lg-4">
					<p>ABOUT</p>
					<p><small>Première App est une série de leçons et de tutoriels pour les débutants et faux débutants qui souhaitent développer leur première application Web en partant de 0. </small></p>
				</div>

				<div class="col-lg-4">
					<p>Contact </p>
					<p><small>
						Martin Benjamin<br/>
					    benjamin@beready.fr><br/>
					
					</small></p>
				</div>
				
	
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /Footer -->
	
