<!-- FOOTER -->
	<div id="f">
		<div class="container">
			<div class="row">
				<h5 class="centered">Contact Information</h5>
				<br>
				
				<div class="col-lg-4">
					<p>ABOUT <b>GOOD</b> STUDIO</p>
					<p><small>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</small></p>
				</div>

				<div class="col-lg-4">
					<p>MAIN OFFICE</p>
					<p><small>
						Richardson Ave. 984<br/>
						London, UK.<br/>
						+44 3893-4904
					</small></p>
				</div>
				
				<div class="col-lg-4">
					<p>OUR NEWSLETTER</p>
					<p><small>Each month we collect the best stuff around the design world and share it with you.</small></p>
					<p><input type="text" placeholder="Add your email here" class="form-control flat" /></p>
				</div>
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /Footer -->
	
