<!-- Headerwrap -->
    <div id="headerwrap-2">

    	<div class="container">
			<div class="row">
				<h1>Apprennez à construire votre première <br/> <b>application</b> en quelques jours pour <b>99€</b></h1>
				<br>
				<br>
				<%= link_to "Commencer Aujourd'hui pour 99€", new_user_registration_path(:product => 'rails'), class: "btn btn-embossed btn-primary btn-hg" %>

			</div>
    	</div>
    </div>
    <!-- /Headerwrap -->