<!-- Headerwrap -->
    <div id="headerwrap-2">

    	<div class="container">
			<div class="row">
				<h1><b>APPRENEZ À CODER</b><br/> <b></b> <b></b></h1>
				<p><h6>Reproduisez une Application Web type <b>Instagram</b> étape par étape en 30 jours</h6></p>
				<br>
				<%= link_to "Commencer maintenant", new_user_registration_path(:product => 'rails'), class: "btn btn-primary btn-hg" %>

			</div>
    	</div>
    </div>
    <!-- /Headerwrap -->