<!-- Headerwrap -->
    <div id="headerwrap-2">

    	<div class="container">
			<div class="row">
				<h1>Apprenez à <b>construire</b> votre première <br/> <b><%= image_tag('logo_webapp.png') %></b> <b></b></h1>
				<br>
				<br>
				<%= link_to "Commencer maintenant", new_user_registration_path(:product => 'rails'), class: "btn  btn-primary btn-hg" %>

			</div>
    	</div>
    </div>
    <!-- /Headerwrap -->