<!-- Headerwrap -->
    <div id="headerwrap-2">

    	<div class="container">
			<div class="row">
				<h1>Apprennez à construire votre première <br/> <b>application</b> en quelques jours</h1>
				<br>
				<p><H3>Une formation en ligne pour 99€</H3></p>
				<br>
				<%= link_to "Commencer Aujourd'hui", new_user_registration_path(:product => 'rails'), class: "btn btn-embossed btn-primary btn-hg" %>

			</div>
    	</div>
    </div>
    <!-- /Headerwrap -->