<!-- Services Section -->
	<div class="container">
	 
			
			<br>
			<hr>
			<br>
		
	
			<div class="col-md-4">
				<h4>Ce que vous allez recevoir</h4>
				<li>Des heures de cours en vidéo étape par étape</li>
				<li>Une retranscription écrite sous chaque étape</li>
				<li>Des compétences en Web développement</li>
				<li>Le code source de l'application</li>
			</div><!-- col-lg-3 -->

			<div class="col-md-4">
			
			</div><!-- col-lg-3 -->
			
			<div class="col-md-4">
				<h4>Pour qui ? </h4>
				<li>Débutants et faux débutants</li>
				<li>Entrepreneurs</li>
				<li>Développeurs front end</li>
				<li>Reconversion professionnelle</li>
			</div><!-- col-lg-3 -->

	
		
		</div><!-- /row -->
		<br>
	</div><!-- /container -->