<!-- Services Section -->
	<div class="container sinfo">
		<div class="row centered">
			
			<br>
			<hr>
			<br>
			<div class="col-lg-3">
				<h4>Design</h4>
				<li>We Craft Awesome Sites</li>
				<li>We Craft Awesome Sites</li>
				<li>We Craft Awesome Sites</li>
				<li>We Craft Awesome Sites</li>
			</div><!-- col-lg-3 -->
			
			<div class="col-lg-3">
				<h4>Development</h4>
				<li>We Craft Awesome Sites</li>
				<li>We Craft Awesome Sites</li>
				<li>We Craft Awesome Sites</li>
				<li>We Craft Awesome Sites</li>
			</div><!-- col-lg-3 -->
			
			<div class="col-lg-3">
				<h4>Wordpress</h4>
				<li>We Craft Awesome Sites</li>
				<li>We Craft Awesome Sites</li>
				<li>We Craft Awesome Sites</li>
				<li>We Craft Awesome Sites</li>
			</div><!-- col-lg-3 -->

			<div class="col-lg-3">
				<h4>Infrastructure</h4>
				<li>We Craft Awesome Sites</li>
				<li>We Craft Awesome Sites</li>
				<li>We Craft Awesome Sites</li>
				<li>We Craft Awesome Sites</li>
			</div><!-- col-lg-3 -->
		
		</div><!-- /row -->
		<br>
	</div><!-- /container -->