<div id="cta2">
		<div class="container centered">
			<h4><b>N'ATTENDEZ PLUS</b></h4>
			<p><%= link_to "DEMANDEZ LE  PROGRAMME", theprogramme_path, class: "btn  " %></p>
			
		</div><!-- /container -->
	</div><!-- /cta -->