<br>
<br>
<br>
<br>
<!-- FOOTER -->
	<div id="f">
		<div class="container centered">
			<div class="row">
			
				<br>
				
			
				

				<div class="col-lg-4">
					<p>Copyright © premiereapp.com</p>
					
				</div>
				<div class="col-lg-4">
					<p>Copyright © premiereapp.com</p>
					
				</div>
				<div class="col-lg-4">
					<p>Copyright © premiereapp.com</p>
					
				</div>
				
	
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /Footer -->
	
