<br>
<br>
<br>
<br>
<!-- FOOTER -->
	<div id="f">
		<div class="container centered">
			<div class="row">
			
				<br>
				
			
				

				<div class="col-lg-4">
					<p><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fpremiereapp.com%2F&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=80&amp;appId=605421909526558" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe></p>
					
				</div>
				<div class="col-lg-4">
					<p><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://premiereapp.com/" data-text="Apprenez à construire votre première Web Application avec" data-via="premiereapp" data-hashtags="premiereapp">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
					
				</div>
				<div class="col-lg-4">
					<p>Programme en cours d’écriture. Prochain chapitre le 30 Juin : <b>PaperClip & Amazon S3</b></p>
					
				</div>
				
	
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /Footer -->
	
