
	<div class="container sinfo">
		<div class="row">
			<div class="col-lg-7">
				<h4><b>Savoir</b>, c'est <b>pouvoir...</b></h4>
				<p>"Savoir, c’est pouvoir", disait le philosophe Francis Bacon au 17e siècle. Quelques siècles plus tard, cette affirmation illustre parfaitement la situation dans laquelle se trouvent de nombreux porteurs de projets. Une idée, mais aucune compétence pour la développer. Des solutions s’offrent alors à vous. Vous avez réussi à convaincre un développeur de rejoindre votre projet à titre gracieux ou vous avez de l’argent et vous allez certainement faire appel à un Freelance. Dans tous les cas, vous serez incapable de communiquer efficacement avec le prestataire et de comprendre le travail réalisé par ce dernier.  C’est un peu comme monter dans une fusée sans comprendre son fonctionnement. Comme vous, j’ai des idées, et j’ai toujours pensé qu’un beau matin un développeur accepterait de collaborer avec moi. Puis j’ai réalisé que finalement la solution c’était d’apprendre à coder soi-même. Vous savez pourquoi j’ai mis du temps à le comprendre ? 
J’assimilais l’apprentissage du code à une formation d’ingénieure. Mais c’est complètement faux. Vous n’avez pas besoin d’atteindre ce niveau pour lancer votre idée, croyez-moi, la programmation est « à la portée de tous ». Avec quelques notions vous allez pouvoir faire beaucoup de choses.  J’ai conçu ce cours pour des débutants. De l’installation de rails sur votre machine au déploiement sur Heroku, vous allez apprendre à créer une application et comprendre son fonctionnement. À la suite de ça, vous serez en mesure de créer vos propres applications et de continuer votre apprentissage. </p>

<br>
<br>
<b>Martin Benjamin</b>
<br>

			</div>
			
			<div class="col-lg-5">
				<div class="row">
					<div class="col-md-10 col-md-offset-2">
						<div class="panel">
          <div class="panel-body">
            <h4>Ce programme s'adresse </h4>
            <ul>
              <li>Aux débutants</li>
              <li>Aux faux débutants</li>
              <li>Aux entrepreneurs</li>
            </ul>
          </div>
        </div>
        			<div class="panel">
          <div class="panel-body">
            <h4>Contenu du programme</h4>
            <ul>
              <li>Des leçons en vidéo</li>
              <li>Des exercices</li>
              <li>Les codes source de l'application</li>
        
            </ul>
          </div>
        </div>

		
			            <%= link_to "Commencer Aujourd'hui pour 99€", new_user_registration_path(:product => 'rails'), class: "btn btn-embossed btn-primary btn-hg" %>
			        </div>
					</div>
				</div>
			
			</div>
		
		</div>
	
	</div>