<!-- container -->
	<div class="container">
		<div class="row">
			<br>
			<div class="col-lg-6">
			<%= image_tag "half-mac2.png", class: "img-responsive" %>
			</div><!-- /col-lg-6 -->
	
			<div class="col-lg-6">
			<h4>We Craft <b>Awesome</b> Sites</h4>
				<div class="sinfo">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				<br>
				<%= link_to "Commencer Aujourd'hui", new_user_registration_path(:product => 'rails'), class: "btn btn-embossed btn-primary btn-hg" %>
				</div>

			</div><!-- /col-lg-6 -->
			
		</div><!-- /row -->
		<br>
	</div><!-- container -->

